.citySelector-wrapper{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:100;
    background-color:#f6f6f6;
    &.hidden{
        display:none;
    }
    .citySelector-top{
        padding-right:20px;
        display:flex;
        height:46px;
        align-items:center;
        background-color:#00da81;
        .search-box{
            position:relative;
            min-width:100px;
            flex:1;
            height:28px;
            background-color:#fff;
            border-radius:5px;
            overflow:hidden;
        }
        .search-input{
            height:26px;
            width:90%;
            text-indent:1em;
            font-size:14px;
        }
        .icon-clear{
            position:absolute;
            top:0;
            right:0px;
            min-width:30px;
            text-align:center;
            line-height:28px;
            &.hidden{
                display:none;
            }
            .iconfont{
                font-size:14px;
                color:#c1c1c1;
            }
        }
    }
    .icon-back{
        width:40px;
        height:40px;
        text-align:center;
        line-height:40px;
        .iconfont{
            color:#fff;
            font-size:24px;
        }
    }
}