body{
    min-width:320px;
    max-width:540px;
    font-size:16px;
    margin:0 auto;
}
.hidden,[hidden]{
    display:none!important;
}
input::-webkit-input-placeholder{
    color:#c7ced4;
}
button{
    -webkit-appearance:none;
}