.ticket-wrapper{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:#fff;
	.detail-wrapper{
		position:absolute;
		width:100%;
		bottom:0;
		top:90px;
		background-color:#f6f6f6;
		overflow:auto;
	}
	.ticket-detail{
		display:flex;
		height:108px;
		padding:0 20px;
		background-color:#fff;
		justify-content:space-between;
		align-items:center;
		.train-depart,.train-arrive,train-info{
			flex:1;
		}
		.station-text{
			font-size:14px;
			line-height:18px;
		}
		.depart-time,.arrive-time{
			padding:5px 0;
			font-size:20px;
			color:#333;
		}		
		.train-info{
			text-align:center;
		}
		.train-arrive{
			text-align:right;
		}
		.train-station-list{
			color:#5295f9;
			line-height:36px;
			font-size:14px;
		}
		.train-station-list:before,.train-station-list:after{
			content:'——';
			font-size:14px;
			color:#c1c1c1;
		}
		.train-station-list:before{
			padding-right:4px;
		}
		.train-station-list:after{
			padding-left:4px;
		}
		.duration{
			font-size:14px;
			color:#333;
		}
	}
}