.border-horizontal{
    content:"";
    position:absolute;
    width:100%;
    left:0;
}
.border-vertical{
    content:"";
    position:absolute;
    height:100%;
    top:0;
}
@mixin border-bottom-1px($color){
    position:relative;
    &:after{
        @extend .border-horizontal;
        bottom:0;
        border-bottom:1px solid $color;
        transform-origin:0 bottom;
    }
    @media screen and (min-device-pixel-ratio:2),(-webkit-min-device-pixel-ratio:2){
        &:after{
            transform:scaleY(.5);
            -webkit-transform:scaleY(.5);
        }
    }
    @media screen and (min-device-pixel-ratio:3),(-webkit-min-device-pixel-ratio:3){
        &:after{
            transform:scaleY(.33);
            -wekbit-transform:scaleY(.33);
        }
    }
}
@mixin border-top-1px($color){
    position:relative;
    &:before{
        @extend .border-horizontal;
        top:0;
        border-top:1px solid $color;
        transform-origin:0 top;
        -webkit-transform-origin:0 top;
    }
    @media screen and (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2){
        &:before{
            transform:scaleY(.5);
            -webkit-transform:scaleY(.5);
        }
    }
    @media screen and (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3){
        &:before{
            transform:scaleY(.33);
            -webkit-transform:scaleY(.33);
        }
    }
}
@mixin border-left-1px($color){
    position:relative;
    &:before{
        left:0;
        border-left:1px solid $color;
        @extend .border-vertical;
        transform-origin:0 top;
    }
    @media screen and (min-device-pixel-ratio:2),(-webkit-min-device-pixel-ratio:2){
        &:before{
            transform:scaleX(.5);
            -webkit-transform:scaleX(.5);
        }
    }
    @media screen and (min-device-pixel-ratio:3),(-webkit-min-device-pixel-ratio:3){
        &:before{
            transform:scaleX(.33);
            -webkit-transform:scaleX(.33);
        }
    }
}
@mixin border-right-1px($color){
    position:relative;
    &:after{
        right:0;
        border-right:1px solid $color;
        @extend .border-vertical;
        transform-origin:right top;
    }
    @media screen and (min-device-pixel-ratio:2),(-webkit-min-device-pixel-ratio:2){
        &:after{
            transform:scaleX(.5);
            -webkit-transform:scaleX(.5);
        }
    }
    @media screen and (min-device-pixel-ratio:3),(-webkit-min-device-pixel-ratio:3){
        &:after{
            transform:scaleX(.33);
            -webkit-transform:scaleX(.33);
        }
    }
}
@mixin border-none{
    &:before,&:after{
        border:none;
    }
}

@mixin clear-fix{
    &:after{
        content:"";
        display:inline-block;
        clear:both;
    }
}