.filter-wrapper{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    top:0;
    background-color:rgba(0,0,0,.15);
    &.disabled{
        display:none;
    }
    .filter-content{
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        height:450px;
        background-color:#fff;
    }
    .title{
        display:flex;
        padding:0 20px;
        height:30px;
        line-height:30px;
        justify-content:space-between;
        background-color:#fff;
        font-size:14px;
        .reset{
            color:#777;
        }
        .confirm{
            color:#4794e1;
        }
    }
    .option-wrapper{
        height:420px;
        overflow:auto;
        .option-title{
            height:30px;
            line-height:30px;
            padding-left:20px;
            background-color:#f9f9f9;
            font-size:14px;
            color:#212121;
        }
        .option-list{
            padding:4% 4% 0;
            &:after{
                content:'';
                display:block;
                clear:both;
            }
        }
        .option-item{
            width:28.6%;
            margin:0 3% 4% 0;
            text-align:center;
            float:left;
            height:28px;
            line-height:28px;
            font-size:12px;
            background-color:#fff;
            border:1px solid #c7ced4;
            &.checked{
                background-color:#4794e1;
                color:#fff;
            }
            &:nth-of-type(3n){
                margin-right:0;
            }
        }
    }
}