@import '../../common/css/mixin.scss';
.journey-wrapper{
    display:flex;
    height:60px;
    justify-content:space-between;
    align-items:center;
    .journey-start,.journey-end{
        flex:1;
        height:60px;
        line-height:60px;
        @include border-bottom-1px(#e1e1e1);
    }
    .journey-start{
        padding-left:12px;
    }
    .journey-end{
        padding-right:12px;
        text-align:right;
    }
    .station{
        font-size:18px;
        font-weight:bold;
    }
    .switch-icon{
        width:42px;
        height:42px;
        line-height:42px;
        text-align:center;
        border:1px solid #3a9afb;
        border-radius:50%;
        .iconfont{
            color:#3a9afb;
            font-size:32px;
        }
    }
}