@import '../../common/css/mixin.scss';
.train-list{
    background-color:#f0eff5;
    .train-item{
        padding:0 15px;
        height:auto;
        min-height:95px;
        background-color:#fff;
        margin-bottom:5px;
        &.last-child{
            margin-bottom:0;
        }
    }
    .train-info{
        display:flex;
        border-bottom:1px dashed #ededed;
    }
    .train-number{
        width:65px;
        height:65px;
        line-height:65px;
        font-size:14px;
        color:#212121;
        @media screen and (max-device-width: 320px){
            width:50px;
        }
    }
    .ticket-info{
        padding:4px 0;
        min-height:28px;
        .ticket-list{
            min-height:28px;
            display:flex;
            align-items:center;
            flex-wrap:wrap;
            line-height:18px;
        }
        .ticket-item{
            width:33.33%;
            font-size:10px;
            color:#2a2a2a;
            &.disabled{
                color:#999;
            }
            .has-ticket{
                color:#529a66;
            }
        }
    }
    .station-wrapper{
        display:flex;
        flex:1;
        align-items:center;
        .dStation,.aStation{
            min-width:60px;
            text-align:left;
        }
        .during-time{
            flex:1;
            min-width:0;
            text-align:center;
            overflow:hidden;
            .card-icon{
                height:14px;
                line-height:14px;
                .iconfont{
                    color:#449cee;
                }
            }
            .arrow-icon{
                height:6px;
                line-height:6px;
                transform:scale(3,1.8);
                .iconfont{
                    color:#cbe0f6;
                }
            }
        }
        .start-text,.end-text{
            margin-right:5px;
            display:inline-block;
            color:#fff;
            font-size:10px;
            width:14px;
            height:14px;
            border-radius:2px;
            text-align:center;
            line-height:14px;
        }
        .start-text{
            background-color:#fe8d1a;
        }
        .end-text{
            background-color:#2b9e39;
        }
        .start-station,.end-station{
            font-size:13px;
            color:#0c0c0c;
        }
        .start-time,.end-time{
            padding-top:8px;
            color:#4794e1;
            font-size:12px;
        }
        .time-text{
            text-align:center;
            color:#969696;
            font-size:12px;
        }
    }
    .arrow-down{
        padding-top:10px;
        padding-left:20px;
        color:#cacaca;
        .iconfont{
            font-size:12px;
        }
        @media screen and (max-device-width:320px){
            padding-left:8px;
        }
    }
}