@import '../../common/css/mixin.scss';
.candidate-wrapper{
    margin-top:15px;
    .ticket{
        background-color:#f6f6f6;
        overflow:hidden;
    }
    .bar{
        display:flex;
        padding:0 15px;
        height:50px;
        justify-content:space-between;
        align-items:center;
        background-color:#fff;
        font-size:16px;
        .ticket-type{
            padding-right:20px;
            color:#313131;
        }
        .ticket-price{
            color:#5295f9;
        }
        .ticket-count{
            padding-right:20px;
            color:#313131;
            font-size:12px;
        }
        .button{
            display:inline-block;
            width:40px;
            height:20px;
            line-height:20px;
            font-size:12px;
            text-align:center;
            background-color:#5295f9;
            border-radius:4px;
            color:#fff;
        }
    }
}
.channel-card{
    display:flex;
    padding:10px 15px;
    align-items:center;
    .order{
        padding-left:10px;
        flex:1;
        .name,.desc{
            font-size:14px;
            line-height:22px;
        }
        .name{
            color:#313131;
        }
        .desc{
            color:#969696;
        }
    }
    .order-button{
        width:40px;
        height:20px;
        line-height:20px;
        font-size:12px;
        text-align:center;
        background-color:skyblue;
        border-radius:4px;
        color:#fff;
    }
}